<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig 
  xmlns="http://ibatis.apache.org/dataMapper" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!--<properties resource="../../App.config"/>-->
  
  <settings>
    <setting useStatementNamespaces="false"/>
  </settings>
  
  <providers resource="../../providers.config"/>
  
  <database>
    <provider name="MySql"/>
    <!--<dataSource name="cNet" connectionString="Data Source=(Local)\SQLEXPRESS;Initial Catalog=PrivadaCocoyoc;Integrated Security=True;Connect Timeout=1800"/>-->
    <!-- Conexion lo toma desde el App.Config, al momento de generar el MAP del DAL -->
    <!--<dataSource name="ConnectionString" connectionString="server=127.0.0.1;User Id=root;password=bpdash;database=mydb"/>-->
    <dataSource name="ConnectionString" connectionString="server=localhost; port=3306; user=root; database=mydb;"/>
  </database>



  <sqlMaps>
    <!--<sqlMap url ="${rootPathMAP}"/>-->
    <!--<sqlMap resource="../../DAL/ErrorLogMAP.xml"/>
    <sqlMap resource="../../DAL/CasasMAP.xml"/>
    <sqlMap resource="../../DAL/SensorMAP.xml"/>
    -->

    <sqlMap resource="../../DAL/NotificacionesMAP.xml"/>
    <sqlMap resource="../../DAL/UsuarioMAP.xml"/>
    <sqlMap resource="../../DAL/GrupoMAP.xml"/>
    <sqlMap resource="../../DAL/HistoricoMAP.xml"/>
    <sqlMap resource="../../DAL/HistoricoDetalleMAP.xml"/>
    <sqlMap resource="../../DAL/AlumnoXGrupoMAP.xml"/>
  </sqlMaps>

</sqlMapConfig>